<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/gestionAsociados/styles/main.css">
        <title>{% block title %}  Cooperativa X  {% endblock %}</title>
    </head>
    <body>
        <div id="navbar">
            {% block navbar %}
                <h1>Barra de navegacion</h1>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                <h1>Titulo</h1>
            {% endblock %}
        </div>
    </body>
</html>