{% extends "gestionAsociados/base.html" %}
{% block content %}


  <main>

    
    <div class="container py-4">
    
      <div class="p-5 mb-4 bg-light rounded-3">
        {% if user.role == 'EJECUTIVO' %}
        <h1 >Verificar Informacion de Aspirantes a asociados</h1>
        {% endif %}
        {% if user.role == 'ASPIRANTE' %}
        <h1 >Ver informacion guardada </h1>
        {% endif %}

        <div class="container-fluid py-5">
          {% if user.role == 'EJECUTIVO' %}
          {% include "verificarInformacion/verAspirantesBase.html" %}    
          {% endif %}

          {% if user.id == var|add:"0" %}
          {% include "verificarInformacion/verAspirantesBase.html" %}    
          {% endif %}
          
          <br><br>
          <form method="POST" enctype="multipart/form-data">
            {% if user.role == 'EJECUTIVO' %}
            {% csrf_token %}
            
            <div class="form-outline mb-4">
              <label class="form-label" for="formaDescri">Observaciones</label>
              
              <textarea class="form-control" id="formaDescri" rows="4" name="observaciones" required></textarea>
             
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="formaReg">Nombre de ejecutivo</label>
              
              <input type="text" id="formaReg" class="form-control" name="nombreE" required/>
              
            </div>
            <button method="POST" class="btn btn-success btn-lg" type="submit" name="aprobar" value="True" >Aprobar</button>
            <button method="POST" class="btn btn-danger btn-lg" type="submit" name="denegar" value="False">Denegar</button>
            <button class="btn btn-primary btn-lg" type="button" onclick="window.location='/verListaAsociado';">Salir</button>
          </form>
          {% endif %}
          {% if user.role == 'ASPIRANTE' %}
          <button class="btn btn-primary btn-lg" type="button" onclick="window.location='/home';">Volver</button>
          <button class="btn btn-secondary btn-lg" type="button" onclick="window.location='/editarInfoAsociado/{{ user.id }}';">Editar Informacion</button>
          {% endif %}
          

        </div>
        <footer >
          &copy; 2022
        </footer>
      </div>
    </div>
    

    </div>
    </main>
  

{% endblock %}
